[Unit]
Description=CSYE 6225 App

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/webapp
ExecStart=/usr/bin/node /opt/webapp/server.js
Environment=POSTGRESQL_USER=postgres
Environment=POSTGRESQL_PASSWORD=bigblue@8=/3
Environment=POSTGRESQL_DB=megacorp
Environment=POSTGRESQL_HOST=localhost
Environment=PORT=3000
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target
